@model Evis.VMS.UI.ViewModel.ResetPasswordVM
@{
    ViewBag.Title = "ResetPassword";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CEENEX VMS</title>
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/Logincustom.min.css" rel="stylesheet" />
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.UserId)
                        <a href="javascript:void(0)" class="">
                            <img src="~/images/logo3.png" class="logoimg" /><br />
                            <span class="companyName-Span">CEENEX</span>
                        </a>
                        @*<h2>Welcome to Visitor Managemet System </h2>*@
                        <div style="margin-top:8%;">
                            @*<input type="text" class="form-control" placeholder="Username" required="" />*@
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password", @maxlength = "16" })
                            @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "error" })
                        </div>
                        <div>
                            @*<input type="password" class="form-control" placeholder="Password" required="" />*@
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @maxlength = "16" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "error" })
                            @Html.ValidationMessage("authstatusmessage", new { @class = "error" })
                        </div>
                        <div>
                            <button class="btn btn-success" type="submit" id="btnResetPassword">Reset Password</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h2>CEENEX VMS</h2>
                                <p>©2016 All Rights Reserved. CEENEX SEE THE NEXT. Privacy and Terms</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var url = window.location.pathname.split("/");
    var questions = url[2];
    if (questions != undefined) {
        if (questions.toLowerCase() == "forgotpassword") {
            window.location.hash = "#signup";
        }
    }
</script>
